/* .md-typeset h1 {
  color: #666;
  font-weight: 300;
  letter-spacing: 0;
}

.md-typeset h2 {
  color: #222;
  font-weight: 300;
  letter-spacing: 0;
}

.md-typeset strong {
  color: #222;
  font-weight: 300;
} */
